# Flask
SECRET_KEY=000d88cd9d90036ebdd237eb6b0db000
FLASK_DEBUG=True
SESSION_COOKIE_SECURE=False

# MongoDB Atlas
MONGO_URI=mongodb+srv://upengupta24_db_user:<db_password>@cluster1.buriecz.mongodb.net/
MONGO_DB_NAME=upengupta24_db

# Storage provider: local | firebase | s3
STORAGE_PROVIDER=firebase

# Firebase (only needed if STORAGE_PROVIDER=firebase)
FIREBASE_CREDENTIALS_JSON="C:\Users\PP\Downloads\resumesystem-6b098-firebase-adminsdk-fbsvc-e456439191.json"
FIREBASE_STORAGE_BUCKET=resumesystem-6b098.appspot.com

# AWS S3 (only needed if STORAGE_PROVIDER=s3)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_REGION=us-east-1
